fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
alembic
pydantic
pydantic-settings
celery
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
httpx
python-multipart
email-validator
croniter
beautifulsoup4
fake-useragent
tenacity
